/* */

@media (min-width: 576px) {
	
.head__top{
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
	max-width: 1520px;
}	
.head__top img{
	max-width: 100%;
}
.head__nav{
	flex-direction: row;
	flex-basis: 550px;
	align-self:center; 
}	
.head__nav-link{
	width: 62px;
	flex-basis: 262px;
    font-size: 18px;
	margin-left: auto;
}
.head__nav-link:last-child {
	 margin-right: auto;
}
.head__phone-list{
	text-align: right;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
} 
.request__border img {
	display: block;
}
.form__input {
	width: 359px;
}
.tible__head {
	flex-direction: row;
}
.tible-head__col {
	margin-top: -35px;
}
.arrow_slider {
	position: absolute;
  right: 67px;
  top: 130px;
}
.slider__item{
	display: flex;
	padding-left: 8.4%;
	}
.why__list-phone {
	flex-direction: row;
}	
.why__border {
padding-left: 23%;
}
.why__border::before {
	width: 57%;
}
.work__item {
	flex-direction: row;
}
.work__item::before {
	bottom: -17%;
}
.footer__list {
	flex-direction: row;
	text-align: left;
}
.footer__item::before {
	width: 20px;
}
}

@media (min-width: 768px) {

.head__nav-link:first-child {
	 margin-right: 30px;
}
.head__phone-list{
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
} 
.table__item {
	flex-direction: row;
} 
.table-item__title {
	position: absolute;
	left: -180px;
	color: #f5f5f5;
}	
.price__tible {
	padding-left: 175px;
}
}
 
@media (min-width: 992px) {
.title{font-size: 42px;}	
.client__list{	
	margin-top: 80px;
	}
.client__item{
	margin-top: 95px;
	}
.head__phone-list{
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
}  
.head__title {
	padding-top: 150px;
	color: #fff;
	font-family: Gilroy;
	font-size: 60px;
	font-weight: 900;
}
.tible-head__title {
	font-size: 20px;
}		
}

@media (min-width: 1200px) {
.title{font-size: 48px;}
.head__nav-link{
    font-size: 24px;
	height: 60px;
}	 
.head__phone-list{
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
}
.request__text {
	font-size: 36px;
	}
.tible__inner {
	background-image: url(../img/man2.png);
	background-repeat: no-repeat;
	background-position: bottom -30px right ;
}	
.tible__inner {
	background: url(../img/bg_price_man.png) #fff no-repeat bottom right ;
}	   
.why__border::before {
	background-size: 100%; 
}	
.work__item::before {
	font-size: 300px;
}
.work {
	background: url(../img/bg_work.png) no-repeat #f5f5f5 0 center /auto 95% ;
	}

}

 