@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Bold.woff);
	font-weight: bold;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Light.woff);
	font-weight: 300;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-SemiBold.woff);
	font-weight: 600;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-Heavy.woff);
	font-weight: 900;
}

body {
	font-family: Gilroy, "Arial", sans-serif;
	/* Семейство шрифтов */
}


/* reset */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

nav,
footer,
header,
aside,
main,
section {
	display: block;
}

/* крестик в IE */
input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

a,
button {
	color: inherit;
}

button:focus,
a:focus {
	box-shadow: 0 0 0 3px lightskyblue;
}

input:focus {
	box-shadow: 0 0 0 3px #f2f5f8;
	background-color: #ffffff;
}

html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	color: #607d8b;
	line-height: 1.2;
}


/* https://www.toptal.com/developers/css/sprite-generator */

.close {
	width: 10px;
	height: 10px;
	background: url('../img/css_sprites.png') -185px -189px;
}

.icon_3star::before {
	width: 106px;
	height: 30px;
	background: url('../img/css_sprites.png') -10px -242px;
}

.icon_form::before {
	width: 19px;
	height: 20px;
	background: url('../img/css_sprites.png') -344px -246px;
}

.icon_gift::before {
	width: 20px;
	height: 21px;
	background: url('../img/css_sprites.png') -304px -246px;
}

.icon_like::before {
	width: 60px;
	height: 69px;
	background: url('../img/css_sprites.png') -224px -10px;
}

.icon_nav::before {
	width: 30px;
	height: 44px;
	background: url('../img/css_sprites.png') -134px -292px;
}

.icon_phone_dark::before {
	width: 34px;
	height: 34px;
	background: url('../img/css_sprites.png') -184px -292px;
}

.icon_phone_red::before {
	width: 34px;
	height: 34px;
	background: url('../img/css_sprites.png') -238px -292px;
}

.icon_title1::before {
	width: 60px;
	height: 56px;
	background: url('../img/css_sprites.png') -304px -10px;
}

.icon_li_footer1::after {
	width: 43px;
	height: 60px;
	background: url('../img/css_sprites.png') -10px -292px;
}

.icon_li_footer2::after {
	width: 60px;
	height: 41px;
	background: url('../img/css_sprites.png') -224px -179px;
}

.icon_li_footer3::after {
	width: 41px;
	height: 60px;
	background: url('../img/css_sprites.png') -73px -292px;
}

.icon_li_head1::before {
	width: 64px;
	height: 72px;
	background: url('../img/css_sprites.png') -140px -10px;
}

.icon_li_head2::before {
	width: 60px;
	height: 72px;
	background: url('../img/css_sprites.png') -140px -102px;
}

.icon_li_why1::before {
	width: 60px;
	height: 60px;
	background: url('../img/css_sprites.png') -224px -99px;
}

.icon_li_why2::before {
	width: 54px;
	height: 60px;
	background: url('../img/css_sprites.png') -304px -86px;
}

.icon_li_why3::before {
	width: 47px;
	height: 60px;
	background: url('../img/css_sprites.png') -304px -166px;
}

.next {
	width: 30px;
	height: 10px;
	background: url('../img/css_sprites.png') -140px -194px;
}

.prev {
	width: 30px;
	height: 10px;
	background: url('../img/css_sprites.png') -188px -242px;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.container-fluid {
	max-width: 1170px;
}

.title {
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}

@media (min-width: 1200px) {
	.title {
		font-size: 42px;
	}

}


.title_dark {
	color: #273238;
}

.title_light {
	color: #f5f5f5;
}




.head {
	background-color: #223850;
}

@media (min-width: 1200px) {
	.head {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.head__container {
	max-width: 1520px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.head__body {
	display: flex;
	flex-direction: column;
	align-items: center;

}

@media (min-width: 768px) {
	.head__body {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 15px;
	}
}

.head__logo {
	padding-right: 20px;
	margin-bottom: 20px;
}

.head__logo a {
	display: block;
}

.head__logo img {
	width: 100%;
}

.head__nav {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.head__nav {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		order: 1;
	}
}

@media (min-width: 1200px) {
	.head__nav {
		order: 0;
		width: auto;
	}
}


.head__nav a {
	width: 262px;
	padding: 15px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 30px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.025em;
	background-color: rgba(96, 125, 139, .25);
	color: #607d8b;
}

@media (min-width: 768px) {
	.head__nav a {
		margin-bottom: 0;
	}

	.head__nav a:first-child {
		margin-right: 30px;
	}
}

@media (min-width: 1200px) {
	.head__nav a {
		font-size: 24px;
	}
}

.head__nav a.active {
	position: relative;
	background-color: #c62827;
	color: #fff;
}

.head__nav a.active::before {
	content: " ";
	position: absolute;
	top: -15px;
	left: 75%;
}

@media (pointer: fine),
(min-width:0\0) {
	.head__nav a:hover:not(.active) {
		background-color: rgba(96, 125, 139, .25);
		box-shadow: 0 0 20px rgba(96, 125, 139, 0.5);
	}
}

.head__nav a:not(.active):active {
	background-color: rgba(96, 125, 139, 0.801);
}


.head__phone-list {
	position: relative;
	padding-left: 60px;
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.025em;
}

@media (min-width: 1300px) {
	.head__phone-list {
		padding-left: 80px;
		font-size: 30px;
	}
}

.head__phone-list::before {
	content: " ";
	position: absolute;
	top: 15px;
	left: 10px;
}

@media (pointer: fine),
(min-width:0\0) {
	.head__phone-list a:hover {
		color: #afafaf;
	}
}

.head__phone-list a:active {
	color: #797979;

}


/* ===== banner ===== */

.banner {
	padding-top: 40px;
	padding-bottom: 90px;
	background: url(../img/bg_head.jpg) no-repeat #223850 bottom right / 65%;
}

@media (min-width: 768px) {
	.banner {
		padding-top: 60px;
	}
}

@media (min-width: 1200px) {
	.banner {
		height: 100vh;
		padding-top: 300px;
	}
}

.banner_rodent {
	background-image: url(../img/bg_head_mouse.jpg);
}


.banner__title {
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 20px;
}

@media (min-width: 1200px) {
	.banner__title {
		font-size: 60px;
	}
}

.banner__list {
	padding-left: 100px;
	font-size: 25px;
	font-weight: 700;
	/* line-height: 55px; */
}

.banner__list li {
	position: relative;
	margin-bottom: 20px;
}

.banner__list li::before {
	content: " ";
	position: absolute;
	top: 10px;
	left: -100px;
}

.banner__big {
	color: #f5f5f5;
	font-size: 45px;
	font-weight: 900;
}

@media (min-width: 1200px) {
	.banner__big {
		font-size: 50px;
	}
}

.banner__arrow {
	position: relative;
	display: inline-block;
	margin-top: 80px;
	color: #f5f5f5;
	font-size: 20px;
	font-weight: 700;
	transform: rotate(-90deg);
}

.banner__arrow::before {
	content: " ";
	position: absolute;
	top: -75px;
	left: -43px;
	width: 110px;
	height: 212px;
	background: url(../img/bg_head_arrow.png) no-repeat 0 0/70%;
	transform: rotate(90deg);
	z-index: -1;
}




/* request */

.request {
	padding: 40px 0;
	background-color: #f5f5f5;
}

@media (min-width: 768px) {
	.request {
		padding: 80px 0;
	}
}


.request__border {
	position: relative;
	padding: 40px 0;
	font-weight: 700;
	border: 15px solid #fff;
	box-shadow: 4.2px 4.2px 15px rgba(48, 62, 65, 0.1);
}

@media (min-width: 768px) {
	.request__border {
		padding: 80px 30px 80px 30%;
		border-width: 30px;
	}

	.request__border::before {
		content: "";
		position: absolute;
		bottom: 0px;
		left: -15px;
		display: block;
		width: 30%;
		height: 100%;
		background: url(../img/img_request_man.png) no-repeat left bottom / contain;
	}
}

@media (min-width: 1200px) {
	.request__border::after {
		position: absolute;
		top: -45px;
		right: -45px;
	}

	.request__border_mouse::after {
		content: url(../img/bg_request.png);
	}
	
	.request__border_rodent::after {
		content: url(../img/bg_request_mouse.png);
	}
}


.request__text {
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: 0.05em;
	color: #273238;
}

@media (min-width: 1200px) {
	.request__text {
		font-size: 36px;
	}
}

.request__sale {
	display: inline-flex;
	align-items: center;
	padding: 10px 20px;
	margin-bottom: 50px;
	color: #c62827;
	font-size: 24px;
	letter-spacing: 0.01em;
	background-color: #fff;
}

@media (min-width: 768px) {
	.request__sale {
		margin-right: 20px;
	}
}

.request__sale span {
	font-size: 36px;
	font-weight: 900;
}

.request__data {
	display: inline-block;
	margin-bottom: 40px;
	font-size: 20px;
	color: #37474f;
	letter-spacing: 0.01em;
}

.request__data span {
	color: #c62827;
	padding-left: 10px;
}


.form__wrap_input {
	position: relative;
	/* display: inline-block; */
	margin-bottom: 30px;
}

@media (min-width: 1200px) {
	.form__wrap_input {
		display: inline-block;
		margin-bottom: 0px;
		margin-right: 30px;
	}
}

.form__wrap_input::before {
	content: " ";
	position: absolute;
	top: 20px;
	left: 30px;
}

.form__input {
	max-width: 359px;
	width: 100%;
	height: 60px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(176, 190, 197, 0.2);
	border-radius: 30px;
	box-shadow: 3px 3px 10px 0px rgba(73, 85, 93, 0.1);
}

@media (min-width: 768px) {
	.form__input {
		width: 359px;
	}
}

.form__input:focus {
	border: 2px solid #223850;
}

.form__input::placeholder {
	color: #607d8b;
	opacity: 1;
}


.form__button {
	max-width: 262px;
	width: 100%;
	height: 60px;
	color: #fff;
	font-size: 20px;
	background-color: #c62827;
	border-radius: 30px;
	box-shadow: 3px 3px 10px 0px rgba(73, 85, 93, 0.1);
}

.form__button:hover {
	background-color: #a32120;
}




/* ===== price ===== */

.price {
	padding: 40px 0;
	background: url(../img/bg_price.png) no-repeat #223850 bottom 15% left;
}

@media (min-width: 768px) {
	.price {
		padding: 80px 0;
	}
}

.price_rodent {
	background-image: url(../img/bg_price_mouse.png);
}

.price__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.price__list-phone {
	position: relative;
	padding-left: 60px;
	margin-top: 20px;
	color: #f5f5f5;
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
}

@media (min-width: 768px) {
	.price__list-phone {
		margin-top: 0px;
	}
}

.price__list-phone::before {
	content: " ";
	position: absolute;
	top: 18px;
	left: 0;
}

@media (pointer: fine),
(min-width:0\0) {
	.price__list-phone a:hover {
		color: #afafaf;
	}
}

.price__list-phone a:active {
	color: #797979;
}

.price__text {
	position: relative;
	margin-top: 50px;
	margin-bottom: 80px;
	padding-left: 90px;
	color: #607d8b;
	font-size: 24px;
	font-weight: 700;
}

.price__text::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
}



/* price-tible */

.tible {
	display: flex;
}

@media (min-width: 768px) {
	.tible__left {
		flex: 1 0 208px;
	}
}

.tible__right {
	flex: 1 1 960px;
	padding-bottom: 50px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 2.8px 2.8px 10px rgba(73, 86, 94, 0.1);
}

@media (min-width: 1700px) {
	.tible__right {
		background: url(../img/bg_price_man.png) #fff no-repeat bottom right;
	}
}

.tible__content_right {
	max-width: 960px;
}


.tible__head {
	display: flex;
	flex-direction: column;
}

.tible-head__col {
	width: 100%;
	padding: 0 15px;
	margin-top: 20px;
}

@media (min-width: 576px) {
	.tible__head {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.tible-head__col {
		width: 33.3%;
		margin-top: -35px;
	}
}

@media (min-width: 768px) {
	.tible-head__col {
		width: 30.3%;
	}
}







@media (min-width: 768px) {
	.offset-md-1 {
		margin-left: 8.333333%;
	}
}



.tible-head__title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 15px;
	box-shadow: 2.8px 2.8px 10px rgba(73, 86, 94, 0.1);
}

@media (min-width: 992px) {
	.tible-head__title {
		font-size: 20px;
	}
}

.tible-head__title_star1 {
	background-color: #dd8e8e;
}

.tible-head__title_star1::before {
	content: " ";
	position: absolute;
	top: -15px;
	right: 15px;
	width: 32px;
	height: 30px;
	background: url('../img/css_sprites.png') -10px -242px;
}

.tible-head__title_star2 {
	background-color: #d25b5b;
}

.tible-head__title_star2::before {
	content: " ";
	position: absolute;
	top: -15px;
	right: 15px;
	width: 68px;
	height: 30px;
	background: url('../img/css_sprites.png') -10px -242px;
}

.tible-head__title_star3 {
	background-color: #c62827;
}

.tible-head__title_star3::before {
	content: " ";
	position: absolute;
	top: -15px;
	right: 15px;
	width: 104px;
	height: 30px;
	background: url('../img/css_sprites.png') -10px -242px;
}

.tible-head__list {
	color: #273238;
	font-size: 16px;
	font-weight: 500;
}

.tible-head__list li {
	margin-top: 17px;
}

.tible-head__item_icon {
	position: relative;
	padding-left: 33px;
}

.tible-head__item_icon::before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
}

.tible-head__item_ground span {
	padding: 6px 15px;
	color: #fff;
	line-height: 32px;
	background-color: #607d8b;
}



.table__item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.table-item__title {
	display: flex;
	justify-content: flex-end;
	align-self: center;
	width: 165px;
	margin-top: 21px;
	font-size: 18px;
	font-weight: 700;
	text-align: right;
	letter-spacing: 0.05em;
}

@media (min-width: 992px) {
	.table-item__title {
		position: absolute;
		left: -200px;
		color: #f5f5f5;
	}
}

.table-item__title span {
	padding-right: 20px;
	/*  padding-left: 30px;*/
	text-shadow: 2.8px 2.8px 10px rgba(73, 86, 94, 0.1);
	color: #c62827;
	font-size: 48px;
	font-weight: 800;
}

.table-item__row {
	display: flex;
	flex-grow: 1;
}

.table__cell {
	width: 33.3%;
	padding: 0 15px;
	margin-top: 21px;
	color: #c62827;
	font-size: 18px;
	font-weight: 700;
}

@media (min-width: 768px) {
	.table__cell {
		width: 30.3%;
	}
}

.table__cell span {
	color: #607d8b;
	font-size: 16px;
	font-weight: 500;
	text-decoration: line-through;
}





/* review */

.review {
	min-height: 500px;
	background-color: #f5f5f5;
	background-image: url(../img/bg_slider.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 100% center;
}

.review__inner {
	position: relative;
	padding-top: 50px;
}

.review__title {
	position: relative;
	padding-left: 85px;
	padding-bottom: 40px;
}

.review__title::before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0px;
}



/* slider */

.arrow_slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;
	margin: 10px auto;
}

.prev,
.next {
	cursor: pointer;
}

.pagingInfo {
	display: flex;
	font-size: 24px;
	color: #607d8b;
}

.pagingInfo_top {
	margin-top: -5px;
	color: #c62827;
}

.pagingInfo_bottom {
	margin-top: 5px;
}


.slider__item {
	padding-left: 0;
}

.slider-item__title {
	padding-left: 90px;
	font-size: 24px;
	color: #273238;
	text-transform: uppercase;
}

.slider-item__text {
	margin: 20px 2px;
	font-size: 18px;
	color: #607d8b;
	line-height: 22px;
}

@media (min-width: 576px) {
	.arrow_slider {
		position: absolute;
		right: 67px;
		top: 130px;
	}

	.slider__item {
		display: flex;
		padding-left: 8.4%;
	}
}



/* client */

.client {
	background-color: #f5f5f5;
	padding-bottom: 15px;
}

.client__list {
	margin-top: 50px;
}

.client__item {
	margin-bottom: 35px;
}

@media (min-width: 992px) {
	.client__list {
		margin-top: 80px;
	}

	.client__item {
		margin-bottom: 65px;
	}
}

.client__wrap_img {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 60%;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 2.8px 2.8px 10px rgba(73, 86, 94, 0.1);
	overflow: hidden;
}

.img_contain {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: contain;
	font-family: 'object-fit: contain;';
}





/* ===== why ===== */

.why__wrap {
	position: relative;
	padding: 70px 0;
	background-color: #f5f5f5;
}

.why__wrap::before {
	content: " ";
	position: absolute;
	top: 70px;
	left: 0px;
	width: 100%;
	height: 70px;
	background-color: #c62827;
	transform: skewY(4deg);
}

.why__wrap::after {
	content: " ";
	position: absolute;
	bottom: 70px;
	left: 0px;
	width: 100%;
	height: 70px;
	background-color: #c62827;
	transform: skewY(4deg);
}

.why {
	position: relative;
	z-index: 1;
	padding: 30px 0 75px 0;
	background-color: #223850;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.why__container {
	position: relative;
}

.why__list-phone {
	position: relative;
	padding-left: 65px;
	margin-bottom: 20px;
	color: #f5f5f5;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0.025em;
}

.why__list-phone::before {
	content: " ";
	position: absolute;
	top: 15px;
	left: 0px;
}

@media (min-width: 768px) {
	.why__wrap_phone {
		text-align: right;

	}

	.why__list-phone {
		display: inline-flex;
		flex-direction: row;
		margin-bottom: 40px;
	}

	.why__list-phone::before {
		top: 3px;
	}

	.why__item-phone:first-child {
		margin-right: 40px;
	}
}


.why__text {
	margin: 20px 0;
	color: #607d8b;
	font-size: 24px;
	font-weight: 700;
}

.why__border {
	position: relative;
	margin: 30px 0 0 auto;
	padding: 80px 15px 40px 15px;
	border: 15px solid rgba(96, 125, 139, .25);
}

@media (min-width: 768px) {
	.why__border {
		border-width: 30px;
		padding: 40px 15px 40px 23%;
	}
}

@media (min-width: 1200px) {
	.why__blok {
		position: absolute;
		top: 200px;
		left: 55px;
		width: 360px;
	}

	.why__border {
		border-width: 30px;
		padding: 80px 50px 80px 32%;
	}
}

.why__border::before {
	content: " ";
	position: absolute;
	bottom: -10%;
	left: -40%;
	height: 368px;
	background-image: url(../img/bg_why_cockroach.png);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 100%;
}

@media (min-width: 768px) {
	.why__border::before {
		width: 57%;
	}
}

@media (min-width: 1200px) {
	.why__border::before {
		background-size: 100%;
	}
}

.why__border_rodent::before {
	background-image: url(../img/bg_why_mice.png);
}

.why__border>p {
	position: relative;
	z-index: 1;
	color: #f5f5f5;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
}

.why__border>p:not(:last-child) {
	margin-bottom: 80px;
}

.why__border>p::before {
	content: " ";
	position: absolute;
	top: -60px;
	left: 0px;
}

@media (min-width: 768px) {
	.why__border>p::before {
		top: 20px;
		left: -80px;
	}
}

.why__text_grunt {
	padding: 5px;
	background-color: #c62827;
}




/* ===== work ===== */

.work {
	padding-top: 6.5%;
	padding-bottom: 13%;
	background-color: #f5f5f5;
	counter-reset: list;
}

@media (min-width: 1200px) {
	.work {
		background: url(../img/bg_work.png) no-repeat #f5f5f5 0 center /auto 95%;
	}
}

.work_rodent {
	background-image: none;
}

.work_title {
	position: relative;
}

@media (min-width: 768px) {
	.work_title {
		padding-left: 90px;
	}

	.work_title::before {
		content: " ";
		position: absolute;
		top: 10px;
		left: 0px;
	}
}



.work__text {
	margin-top: 40px;
	color: #607d8b;
	font-family: Gilroy;
	font-size: 24px;
	font-weight: 700;
}

.work__item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 6%;
}

.work__item::before {
	counter-increment: list;
	content: "0"counter(list);
	position: absolute;
	top: 7%;
	text-shadow: 2.8px 2.8px 10px rgba(73, 86, 94, 0.1);
	color: #fff;
	font-size: calc((100vw - 576px)/(1200 - 576) * (300 - 150) + 150px);
	font-weight: 800;
	text-transform: uppercase;
}

.work__item:nth-child(2n)::before {
	right: 0px;
}

@media (min-width: 768px) {
	.work__item {
		flex-direction: row;
	}

	.work__item::before {
		bottom: -17%;
	}
}

@media (min-width: 1200px) {
	.work__item::before {
		font-size: 300px;
	}
}

.work__item img {
	border-radius: 15px;
}

.work__item:nth-child(odd) {
	text-align: right;
}

_:-ms-fullscreen,
:root .work__item img {
	width: 100%;
	/*  Internet Explorer 11*/
}

.work-item__title {
	margin-top: 11%;
	color: #c62827;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
}

.work-item__text {
	margin-top: 7%;
	margin-bottom: 20px;
	color: #607d8b;
	font-size: 18px;
	font-weight: 500;
}



/* google.maps */

.map {
	width: 100%;
	height: 500px;
}

.map_info {
	color: #273238;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

.map_info span {
	font-weight: 700;
	font-size: 12px;
	color: #c62827;
	text-transform: uppercase;
}

/*.gm-ui-hover-effect {display: none !important;}  отключить кнопку закрытия*/
/*.gm-style-iw {text-align:center;}  центрировать текст после удаления кнопки закрытия*/

.customInfoWindow {
	padding: 15px;
	color: #273238;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border-radius: 15px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
}

/* стрелка */
.customInfoWindow:after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	height: 0;
	width: 0;
	margin-left: -20px;
	pointer-events: none;
	border: solid transparent;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
}

.customInfoWindow span {
	font-weight: 700;
	font-size: 12px;
	color: #c62827;
	text-transform: uppercase;
}

.customInfoWindow .close {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	cursor: pointer;
}




/* footer */

.footer {
	padding: 40px 0;
	background-color: #223850;
}

.footer__title {
	color: #607d8b;
	font-size: 16px;
	font-weight: 700;
}

.footer__text {
	margin-top: 16px;
	color: #f5f5f5;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.footer__list>li {
	position: relative;
	padding-left: 78px;
}

.footer__list>li:not(:last-child) {
	margin-bottom: 20px;
}

.footer__item::before {
	content: " ";
	position: absolute;
	top: -40px;
	width: 0;
	height: 112px;
	background-color: rgba(96, 125, 139, .25);
}

@media (min-width: 576px) {
	.footer__list {
		flex-direction: row;
		text-align: left;
	}

	.footer__item::before {
		width: 20px;
	}
}

.footer__item-adress::before {
	left: 12px;
}

.footer__item-adress::after {
	content: " ";
	position: absolute;
	top: 8px;
	left: 0px;
}

.footer__item-email::before {
	left: 20px;
}

.footer__item-email::after {
	content: " ";
	position: absolute;
	top: 18px;
	left: 0px;
}

.footer__item-phone::before {
	left: 10px;
}

.footer__item-phone::after {
	content: " ";
	position: absolute;
	top: 8px;
	left: 0px;
}

@media (pointer: fine),
(min-width:0\0) {
	.footer__item a:hover {
		color: #afafaf;
	}
}

.footer__item a:active {
	color: #797979;
}


.btn_up {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 5;
	display: none;
	width: 30px;
	height: 30px;
	border: 1px solid rgb(236, 188, 56);
	border-radius: 5px;
	background-color: #72635c;
}

.show {
	display: block;
}

.icon_arrow_up {
	color: #fff;
	width: 30px;
	height: 30px;
	transform: rotate(-180deg);
}

@media (min-width: 768px) {
	.btn_up {
		width: 40px;
		height: 40px;
	}
}